.formContainer {
	display: grid;
	width: 80%;
	grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
	grid-template-rows: repeat(2, 2fr);
}

@media (max-width: 768px) {
	.formContainer {
		grid-template-columns: 1fr;
		width: 90%;
	}
}

.formItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.steps-button-container {
	width: 100%;
	display: flex;
	gap: 2rem;
	justify-content: center;
}
